@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');
@import "react-slideshow-image/dist/styles.css";

:root {
  --color-light: #ffffff;
  --font-color-primary: #1b1b1b;
  --color-primary: #283618;
  --color-secondary: #1b1b1b;
  --color-attention: #e76f51;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color-primary);
}

body {
  background-color: var(--color-light);
}

section {
  height: 100vh;
}


.canvas-circle {
  background: var(--color-primary);
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  border-top: 1px solid #dddddd;
}

.footer_wrapper__main__h3 {
  font-size: 1.5em;
  user-select: none;
}

.footer_wrapper__secondary {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.icons--wrapper{
  align-items: center;
  color: #e4e4e4;
  display: flex;
  gap: 0.625em;
  justify-content: center;
}

.icons--wrapper a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

.icons--wrapper i {
  border-radius: 50%;
  font-size: 2em;
  text-align: center;
  padding: 0.3em  0.35em;
  background-color: inherit;
}

.icons--hover {
  transition: background-color .4s ease-in-out;
}

.icons--hover i:hover {
  background-color: rgba(194, 194, 194, .2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;